@model FileSharingPractice.Models.ChangePasswordViewModel 
@inject IViewLocalizer Localize
@{
    ViewData["Title"] = "Cahnge Password";
}
@if (TempData["Success"] != null)
{
    <div class=" alert alert-success text-center">
        <strong>
            @TempData["Success"]
        </strong>
    </div>
}
<section id="mu-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-contact-area" style="padding-top:0px">
                    <!-- Title -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mu-title">
                                <h2>@Localize["Manage"]</h2>
                            </div>
                        </div>
                    </div>
                    <!-- Start Registration -->
                    <div class="mu-contact-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mu-contact-form-area">
                                    <div id="form-messages"></div>
                                    <form id="contact" method="post" class="mu-contact-form" asp-action="ChangePassword" asp-controller="Account">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <span class="fa fa-envelope "></span>
                                            <input type="password" asp-for="CurentPassword" class="form-control" placeholder=@Localize["CurentPassword"] id="CurentPassword" required>
                                            <span asp-validation-for="CurentPassword"></span>
                                        </div>
                                        <div class="form-group">
                                            <span class="fa fa-envelope "></span>
                                            <input type="password" asp-for="NewPassword" class="form-control" placeholder=@Localize["NewPassword"] id="NewPassword" required>
                                            <span asp-validation-for="NewPassword "></span>
                                        </div>
                                        <div class="form-group">
                                            <span class="fa fa-envelope mu-contact-icon"></span>
                                            <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder=@Localize["ConfirmPassword"] id="ConfirmPassword" required>
                                            <span asp-validation-for="ConfirmPassword"></span>
                                        </div>
                                        <button type="submit" class="mu-send-msg-btn"><span>@Localize["Change Password"]</span></button>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End registration -->
                </div>
            </div>
        </div>
    </div>
</section>