
@{
    ViewData["Title"] = "Info";
}

<h2>Info</h2>
<p>
    <strong>Logged In user :</strong> :<span>@User.Identity.Name</span>
</p>
<hr />
<h2>Manage</h2>
<a class="btn btn-outline-primary">
    Change Password
</a>
